service: fridays-kitchen-service

frameworkVersion: '3'

provider:
  name: aws
  runtime: nodejs20.x
  region: us-east-1
  stage: ${opt:stage, 'dev'}
  profile: ${opt:profile, 'fridays-dev'}
  
  environment:
    STAGE: ${self:provider.stage}
    ORDERS_TABLE: Orders-${self:provider.stage}
    PRODUCTS_TABLE: Products-${self:provider.stage}
    JWT_SECRET: fridays-secret-key-2025-proyectofinal
  
  iam:
    role: arn:aws:iam::139051438271:role/LabRole

functions:
  authorizer:
    handler: ../../shared/auth/authorizer.handler

  getPendingOrders:
    handler: functions/orders/getPendingOrders.handler
    events:
      - http:
          path: /api/kitchen/orders/pending
          method: GET
          cors: true
          authorizer:
            name: authorizer
            type: REQUEST

  updateOrderStatus:
    handler: functions/orders/updateOrderStatus.handler
    events:
      - http:
          path: /api/kitchen/orders/{orderId}/status
          method: PUT
          cors: true
          authorizer:
            name: authorizer
            type: REQUEST

  updateProductAvailability:
    handler: functions/products/updateAvailability.handler
    events:
      - http:
          path: /api/kitchen/products/{productId}/availability
          method: PUT
          cors: true
          authorizer:
            name: authorizer
            type: REQUEST

plugins:
  - serverless-offline

custom:
  serverless-offline:
    httpPort: 3002
    stage: local
    noAuth: true
